<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <label>
            姓名:
            <input v-model="name" type="text">
        </label>
        <br>
        <label>
            年龄:
            <input v-model="age" type="text">
        </label>
        <h1>{{name}} 's age is {{age}}</h1>
        <h2>{{name}} 's age is {{age}}</h2>
    </div>
    <script src="./mvvm.js"></script>
    <script>
        let app = new MVVM({
            el: "#app",
            data: {
                name: "yang",
                age: 20
            }
        })
    </script>
</body>

</html>